@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Home Page";
}

<h2>Demo index</h2>

<p>
    <a href="/Demo/GoogleChart" title="ASP.NET MVC Website">☆.Google Charts</a>.
</p>
<p>
    <a href="/Demo/FusionCharts" title="ASP.NET MVC Website">☆.Fusion Charts</a>.
</p>
<p>
    <a href="/Demo/My97DatePicker" title="ASP.NET MVC Website">☆.My97DatePicker</a>.
</p>
<p>
    <a href="/Demo/Log4net" title="ASP.NET MVC Website">☆.Log4net</a>.
</p>
<p>
    <a href="/Demo/JQueryUITab" title="ASP.NET MVC Website">☆.jquery.UI.Tab</a>.
</p>
<p>
    <a href="/Demo/JQueryDialog" title="ASP.NET MVC Website">☆.jquery.UI.Dialog</a>.
</p>
<p>
    <a href="/Demo/JQueryDataTable" title="ASP.NET MVC Website">☆.jquery.DataTable</a>.
</p>

<script type="text/javascript">
    
</script>