@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "GoogleChart";
}

<h2>GoogleChart</h2>

<table id="tbl_chart">
    <tr>
        <td>
            <img src="http://chart.apis.google.com/chart?chs=200x125&amp;cht=v&amp;chco=DF0101,0000FF,8904B1&amp;chd=t:100,80,60,30,30,30,10" alt="ggg" />
        </td>
        <td>
            <img src="http://chart.apis.google.com/chart?chs=400x225&amp;cht=v&amp;chco=DF0101,0000FF,8904B1&amp;chd=t:100,80,0,10,0,0,0" alt="ggg" />
        </td>
    </tr>
    <tr>
        <td>
            <img src="http://chart.apis.google.com/chart?chs=400x225&amp;cht=v&amp;chco=DF0101,0000FF,8904B1&amp;chd=t:100,0,0,0,0,0,0" alt="ggg" />
        </td>
        <td></td>
    </tr>
</table>
@*google chart api
http://www.haijd.net/archive/computer/google/google_chart_api/api.html
红：#DF0101
蓝：#0000FF
紫：#8904B1
**********@