@{
    ViewBag.Title = "JQueryDialog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="@Url.Content("~/Scripts/zxl-js-lib/dialog.js")" type="text/javascript"></script>

<h2>JQueryDialog</h2>

<input type="button" id="btnAdd" value="添加" onclick="openDialog()" />

<div id="addDiv" style="display:none">
    <table>
        <thead>
            <tr>
                <th>事件名称</th>
                <th>类别</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody">
            <tr>
                <td><input type="text" name="evt_name" value="" /></td>
                <td></td>
                <td><a href="javascript:void(0)" onclick="addRow(this)">添加</a></td>
            </tr>
        </tbody>
    </table>
</div>

<script>
    //    var oBrowser = getBrowserInfo();
    //    alert(oBrowser.Type);
    //    alert(oBrowser.Version);

    // overloads methods via this object
    var jQueryUIDialog = new JQueryUIDialog();

    function openDialog() {
        $("#addDiv").show();
        jQueryUIDialog.openDialog("addDiv", "新增事件监测", 450, 250, btnOkCallback);
    }
    function btnOkCallback() {
        $("#addDiv").dialog("close");
    }
</script>